#coverimage {
  width: 100%;
  height:90vh;
  object-fit: cover;
}

#title {
  font-size: 4em;
  color: #ae5730;
  font-family: 'Swanky and Moo Moo', cursive;
  font-weight: regular
}
.halfrow {
  background-color:#87b3dd;
  color: #2d3c59;
  font-family: 'Swanky and Moo Moo', cursive;
  margin: 40px;
  padding: 20px;
  text-align: center;
}
